/.vs

## Web Application

web/www
web/node_modules
web/src/environments/environment.prod.ts
/web/src/environments/environment.prod.ts

## Mobile Application

/app/www
/app/node_modules
/app/src/environments/environment.prod.ts

## API

/api/.vs
/api/.env
/api/ojb
