<div class="row">
    <div class="card mt-4 col-md-6">
        <div class="card-body">
            <h2 class="card-title">Site Links</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let link of siteLinks()">
                    <h3>{{ link.title }} <app-copy-text [text]="link.title"></app-copy-text></h3>
                    <p>{{ link.description1 }} <app-copy-text [text]="link.description1"></app-copy-text></p>
                    <p>{{ link.description2 }} <app-copy-text [text]="link.description2"></app-copy-text></p>
                    <p>{{ link.url }} <app-copy-text [text]="link.url"></app-copy-text></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="card mt-4 col-md-6">
        <div class="card-body">
            <h2 class="card-title">Highlights</h2>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let highlight of highlights()">
                    <div class="ms-2 me-auto">
                        {{ highlight.title }}
                      </div>
                      <app-copy-text [text]="highlight.title"></app-copy-text>
                </li>
            </ul>
        </div>
        <div class="card-body mt-4">
            <h2 class="card-title">Snippets</h2>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let snippet of snippets()">
                    <h3>{{ snippet.title }} <app-copy-text [text]="snippet.title"></app-copy-text></h3>
                </li>
            </ul>
        </div>
    </div>
</div>