<div class="row">
  <div class="col-md-6">
    <form [formGroup]="productForm" (ngSubmit)="generateResources()">
      <div class="mb-3">
        <label for="keyword" class="form-label">Palavra-chave:</label>
        <input type="text" class="form-control" id="keyword" formControlName="keyword">
      </div>

      <div class="row">
        <div class="mb-3 col-6">
          <label for="bonusAmount" class="form-label">Número de bônus:</label>
          <input type="number" class="form-control" id="bonusAmount" formControlName="bonusAmount">
        </div>

        <div class="mb-3 col-6">
          <label for="warranty" class="form-label">Dias de garantia:</label>
          <input type="number" class="form-control" id="warranty" formControlName="warranty">
        </div>
      </div>
      <div class="row">
      <div class="mb-3 col-6">
        <label for="fullPrice" class="form-label">Preço cheio à vista:</label>
        <input type="number" class="form-control" id="fullPrice" formControlName="fullPrice">
      </div>

      <div class="mb-3 col-6">
        <label for="maxDiscount" class="form-label">Maior desconto à vista:</label>
        <input type="number" class="form-control" id="maxDiscount" formControlName="maxDiscount">
      </div>
      </div>

      <div class="row">
        <div class="mb-3 col-6">
          <label for="anchorPrice" class="form-label">Preço parcelado:</label>
          <input type="number" class="form-control" id="anchorPrice" formControlName="anchorPrice">
        </div>

        <div class="mb-3 col-6">
          <label for="maxAnchorNumber" class="form-label">Número máximo de parcelas:</label>
          <input type="number" class="form-control" id="maxAnchorNumber" formControlName="maxAnchorNumber">
        </div>
      </div>

      <div class="mb-3">
        <label for="adUrl" class="form-label">URL do anúncio:</label>
        <input type="text" class="form-control" id="adUrl" formControlName="adUrl">
      </div>

      <div class="mb-3">
        <label for="trackingUrl" class="form-label">URL de rastreamento:</label>
        <input type="text" class="form-control" id="trackingUrl" formControlName="trackingUrl">
      </div>

      <button type="submit" class="btn btn-primary">Salvar Produto</button>
    </form>
  </div>
  <div class="col-md-6">
    <div *ngIf="discountData" class="card mt-3">
      <div class="card-body">
        <div class="alert alert-success">
          <h5 class="card-title">Informações do Desconto</h5>
          <p><strong>Percentual Máximo De Desconto:</strong> {{ product?.maxDiscountPercentage | number:'1.0-0' }}%</p>
          <p><strong>Desconto Máximo Monetário:</strong> R$ {{ product?.maxDiscountAmount }}</p>
        </div>
      </div>
    </div>
  </div>
</div>