<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/product-data">Product Data</a>
    </li>
    <li class="nav-item" [class.disabled]="!productFilled">
      <a class="nav-link" routerLink="/keywords">Keywords</a>
    </li>
    <li class="nav-item" [class.disabled]="!productFilled">
      <a class="nav-link" routerLink="/resources">Resources</a>
    </li>
    <li class="nav-item" [class.disabled]="!productFilled">
      <a class="nav-link" routerLink="/titles-descriptions">Titles & Descriptions</a>
    </li>
  </ul>

  <div class="tab-content mt-4">
    <router-outlet></router-outlet>
  </div>
</div>
